## Ignore hidden mac objects

.DS_Store

## Ignore venv from docs

feeds2stix-venv/

## Ignore any content generated temporarily

.python-version
__pycache__/
bundles/

coverage.xml
unittest.junit.xml
.coverage
upload_artifacts/
.venv/
.env
.pytest_cache/
.vscode/